.slide {
    height: 465px;
}

html, body {
    height: 100%;
  }
  body {
    background: #eee;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

.backgroud_gray{
    background-color: #f1f0ee;
}

/* swiper */
